.navbar{
    border: 1px solid grey;
}

.navbar-brand{
    font-weight: bold;
    color: cadetblue;
}

.nav-link{
    color: rgb(50, 124, 126);
}

.sec{
    color:black;
}

.btn-outline-secondary{
    border-color: cadetblue;
    color: cadetblue;
}

.btn-secondary{
    background-color: cadetblue;
    border-color: cadetblue;
}

#login{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.row-login{
    margin-top: 50px;
    margin-left: 100px;
    border-right: 200px solid white;
}

.col-login{
    margin-top: 100px;
    border-left: 300px solid white;
}

h1{
    color:cadetblue;
    margin-bottom: 20px;
}

.mb-3{
    margin-right: 50px;;
}

.cadastro{
    margin-top: 30px;
}

.btn-secondary{
    background-color: cadetblue;
    border-color: cadetblue;
}